@model List<SimpsonCharacter>

<!DOCTYPE html>
<html>
<head>
    <title>Simpsons Characters</title>
</head>
<body class="fondo">
    <img class="imagen" src="https://image.tmdb.org/t/p/original/kyE83l2648IXArRQOOQJlirQ76b.png" alt="Simpsons">

    <form method="get" action="@Url.Action("Index", "Home")">
        <input type="text" name="searchTerm" placeholder="Enter character name" />
        <button type="submit" name="searchButton">Buscar</button>
    </form>

    <div class="character-grid">
        @if (Model.Count > 0)
        {
            foreach (var character in Model)
            {
                <div class="character-card zoom-image">
                    <img src="@character.Imagen" alt="@character.Nombre"/>
                    <div>
                        <strong>Nombre:</strong> @character.Nombre
                    </div>
                    <div>
                        <strong>Genero:</strong> @character.Genero
                    </div>
                    <div>
                        <strong>Ocupacion:</strong> @character.Ocupacion
                    </div>
                </div>
            }
        }
        else
        {
            <p>No characters found.</p>
        }
    </div>
</body>
</html>
